:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --very-light-gray-background-headings-buttons: hsl(0, 0%, 95%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    padding: 3em 0;
    background-color: var(--very-light-gray-background-headings-buttons);
}

/* Card 3 Columns */
/* End Card 3 Columns */

/* Media Query For Tablet */
/* End Media Query For Tablet */

/* Media Query For Desktop */
/* End Media Query For Desktop */